<!DOCTYPE HTML>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>
        body {
            font-family: "Times New Roman", serif;
            font-size: 14px;
            margin: 0px;
            padding: 0px;
        }
        .page-wrapper {
            width: 680px;
            margin: 0px auto;
            padding-left: 30px;
        }
        .paragraph {
            text-align: justify;
        }
        .paragraph.white-space:before {
            content: '';
            margin-left: 32px;
        }
        table {
            margin-left: -30px;
            border-collapse: collapse;
            border: 1px solid #333;
        }
        table td {
            border: 1px solid #333;
            padding: 6.4px 8px;
        }
    </style>

</head>

<body>

<div class="page-wrapper">
    <p style="text-align: right;">
        Приложение №1
        <br/>
        к Договору о сотрудничестве №00057.2500
        <br/>
        от 24 января 2019 г.
    </p>

    <h4 style="text-align: center; margin-top: 5rem">
        Акт выполненных работ/оказанных услуг №1 от «31» января 2019 г.
        <br/>
        За период с «24» января 2019 г. по «31» января 2019 г.
    </h4>

    <p class="paragraph white-space">
        Мы, нижеподписавшиеся, АО ДБ «Альфа-Банк», именуемое в дальнейшем «Банк», в лице г-на (г-жи) Ахметовой Алии Болатовны, действующего (-ей) на основании доверенности №1246 от «26» июня 2018 года, с одной стороны и Акашева Алтын Талгатовна именуемое в дальнейшем «Агент», в лице г-на (г-жи) Акашевой Алтын Талгатовны, с другой стороны, составили настоящий Акт о том, что «Агент» оказал, а «Банк» принял услуги, оказанные Агентом согласно Договору о сотрудничестве № 00057.2500 от 24 января 2019 г.
        <br/>при содействии Агента были привлечены следующие клиенты:
    </p>

    <table style="text-align: center">
        <tbody>
        <tr>
            <td>№</td>
            <td>Наименование / ФИО клиента</td>
            <td>Месяц привлечения клиента</td>
            <td>БИН/ИИН Клиента</td>
            <td>% вознаграждения</td>
            <td>Сумма вознаграждения</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ТОО Elit Enzymes</td>
            <td>январь</td>
            <td>Да</td>
            <td>50</td>
            <td>4999,5</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: left">Итого</td>
            <td></td>
            <td>4999,5</td>
        </tr>
        </tbody>
    </table>

    <p class="paragraph" style="margin: 32px 0">
        На сумму: 4999,5 (Четыре тысячи девятьсот девяносто девять целых пять десятых) тенге
        <br/>
        Услуги оказаны в полном объеме, стороны претензий друг к другу не имеют.
    </p>


    <table style="text-align: left">
        <tbody>
        <tr style="text-align: center">
            <td colspan="2">Банк</td>
            <td colspan="2">Серіктес/Партнер</td>
        </tr>
        <tr>
            <td>Атауы/Наименование</td>
            <td>«Альфа-Банк» ЕБ АҚ Қазақстан Республикасы / АО ДБ «Альфа-Банк», Республика Казахстан</td>
            <td>ФИО/Наименование</td>
            <td>Акашева Алтын Талгатовна</td>
        </tr>
        <tr>
            <td>Заңды Мекенжайы/Юр. Адрес</td>
            <td>
                050059, Алматы, д. Назарбаев, 226
                <br/>
                050059, Алматы, пр. Назарбаева, 226
            </td>
            <td>Заңды Мекенжайы/Юр. Адрес</td>
            <td>РК, Костанайская обл., г. Костанай, ул. Плеханова, д.51</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>+7 (727) 244-75-75</td>
            <td>Телефон</td>
            <td>+7 (777) 337-69-69</td>
        </tr>
        <tr>
            <td>БСН/ЖСН/БИН/ИИН</td>
            <td>941240000341</td>
            <td>БСН/ЖСН/БИН/ИИН</td>
            <td>891225451625</td>
        </tr>
        <tr>
            <td>Банктік деректермелері/Банк. реквизиты</td>
            <td>
                БСК/БИК ALFAKZKA Корр. Шот/Корр счет
                <br/>
                №KZ71125KZT1001300213 КР УБ  ТЖБ/ыв УПС НБ РК, БСК/БИК NBRKZKX
            </td>
            <td>Банктік деректермелері/Банк. реквизиты</td>
            <td>
                №KZ54914CP39858990139 в ДБ АО Сбербанк
                <br/>
                БИК SABRKZKA
            </td>
        </tr>
        </tbody>
    </table>
    <div style="margin-top: 32px">
        <p style="float: left;">
            от Банка:
            <br/>
            <span style="white-space: nowrap">Ахметова Алия Болатовна</span>
            <br/>
            <span style="white-space: nowrap; margin-right: 30px; float: right;"> м.п. </span>
        </p>
        <p style="float: right;">
            от Агента:
            <br/>
            <span style="white-space: nowrap">Акашева Алтын Талгатовна</span>
            <br/>
            <span style="white-space: nowrap; margin-right: 30px; float: right;"> м.п./Б.П.</span>
        </p>
    </div>

</div>
</body>

</html>
